# 사이트 파일과 채팅 워커 소스만 올립니다
*
!index.html
!.nojekyll
!assets/
!assets/*
!img/
!img/*
!.gitignore
!README.md
!papers/
!papers/*.pdf
!papers/*.json
!chat-worker/
!chat-worker/**
chat-worker/node_modules/
chat-worker/.wrangler/
chat-worker/dist/
chat-worker/.dev.vars
chat-worker/package-lock.json
!web/
!web/**
web/node_modules/
web/dist/
web/public/papers/
